<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h1><a href="/">Reddit.js</a></h1>
    {{#if currentUser}}
      <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
    {{/if}}
    <ul class="nav navbar-nav navbar-right">
    {{#if currentUser}}
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign Up</a></li>
    {{/if}}
</ul>
  </div>
</nav>
